<div style="background-color:white; padding: 25px;">
    <h3>Detalle</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Profesion</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{personaje.nombre}}</td>
                <td>{{personaje.edad}}</td>
                <td>{{personaje.profesion}}</td>
            </tr>
            <tr>
                <th>Historia</th>
            </tr>
            <tr>
                <td>{{personaje.historia}}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-secondary" href="/personaje/list"><i class="fa fa-list-alt"></i> Volver</a>
</div>