<!DOCTYPE html>

<head>
        <title>La mansion misteriosa</title>
</head>

<body>
<div id="game-text">
    <p>Bienvenido {{personaje.nombre}} a la mansion misteriosa</p>
</div>
<input id="user-input" placeholder="Ingrese su comando"></input>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/aventura/rooms.js"></script>
<script type="text/javascript" src="/aventura/script.js"></script>

</body>
